node_modules
npm-debug.log
build
.dockerignore
Dockerfile
Dockerfile.dev
Dockerfile.hub
docker-compose.yml
.git
.gitignore
README.md
experiments_scaledup
CoverLetter
docs
__pycache__
.cache
projects
templates/react-app/node_modules
*.md
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
